body {
  background-color: Lavender;
}

h4 {
  background-color: #f08fa2;
  border: 1px solid #000000;
  color: hsl(0, 0%, 5%);
  margin-left: 10px;
  margin-right: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #000000;
  text-align: center;
  padding: 4px;
  font-family: "Times New Roman", Times, serif;
}

tr:nth-child(even) {
  background-color: #adffd1;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  background-color: #f3f5d6;
  border: 1px solid #000000;
  color: hsl(0, 0%, 0%);
  font-size: 15pt;
  margin-left: 30px;
  margin-right: 30px;
}

#extra {
  
}